body {
  background-color: #13141f;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: auto;
  height: 100px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
